.article {
    margin-bottom: 20px;
}
.article .title {
    margin-bottom: 8px;
    font-weight: bold;
}
.article .content {
    display: flex;
    align-items: center;
}
.article .content input[type="email"],
.article .content input[type="password"],
.article .content input[type="text"] {
    width: 100%;
}
.article .content .checkbox-desc {
    margin-left: 1%;
}

.article.link {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}
.article.link .anchor-area {
    display: flex;
    align-items: center;
}
.article.link .anchor,
.article.link .button {
    margin-left: 10px;
}
.article.link .anchor {
    line-height: 15px;
    border-bottom: 1px solid var(--font-grey-color);
}

@media screen and (max-width:768px) {
    .article.link {
        flex-direction: column-reverse;
    }
    .article.link .button {
        width: 100%;
        margin: 0 0 10px 0;
        text-align: center;
    }
    .article.link .anchor {
        margin: 0 10px 0 0;
    }
}