.background {
    width: 100%;
    height: 100%;
    background-color: var(--background-grey-color);
}

/*logo area content*/
.policy-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100vh;
    max-width: 600px;
    margin: 0 auto;
}
.policy-container .logo {
    margin: 20px 0;
}
.policy-container .logo img {
    height: 60px;
    margin: 0 auto;
}


.policy-container .content-area {
    width: 100%;
    max-height: 80%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 5px 8px rgba(150, 149, 150, 0.2);
}
.policy-container .content-area .policy-area {
    height: calc( 100% - 20px - 20px); /* 100% - margin top - margin bottom*/
    margin: 20px 30px;
    overflow-y: auto;
    scrollbar-color: #D4AA70 #e4e4e4;
}
.policy-container .content-area .policy-area::-webkit-scrollbar {
    width: 10px;
}
.policy-container .content-area .policy-area::-webkit-scrollbar-track {
    background-color: #e4e4e4; 
    border-radius: 100px;
}
.policy-container .content-area .policy-area::-webkit-scrollbar-thumb {
    background-color: red; 
    border-radius: 100px;
    background-image: linear-gradient(180deg, #d0d7da 0%, #d0d7da 99%); 
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5); 
    border-radius: 100px;
}
.policy-container .content-area .policy-area::-webkit-scrollbar-track {
    background-color: #e4e4e4; 
    border-radius: 100px;
}
.policy-container .content-area .policy-area .title {
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .policy-container {
        width: 90%;
    }
    .policy-container .logo img {
        height: 50px;
    }
}